body{
    background-color: #F9FBBC;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    font-size: 100%;
}
h1{
    color: black;
    font-size: 25px;
}
.inf{
    background-image: url(../img/libros.JPG);
    background-size:100% 34em
}
ul li{
    display: inline-block;
    padding: 0px 10px;
}
a{
    color: black;
}
a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
a:hover{
    color:aqua;
}

header{
    background-color: white;
}

.inf{
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display:flex;
    flex-direction:column;
    align-items:left;
    height:380px
}
.inf p{
    width:50%;
    padding:.5em

}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color:white;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #000;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #000;
    margin-right: 10px;
    background-color: #F9FBBC;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #424949;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.grupo .grup .box figure img{
    width: 250px;
}
#map {
	height: 500px;
	width: 100%;
}
.iframe{
    width: 100%;
    height: 200px;
}